.form{
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 680px;
    gap: 25px;
    border-radius: 8px;
}
.form__login .inputerror{
    border-color: #b83f45;
}

.form__login{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.form__loginError{
    position: absolute;
    color: #b83f45;
    bottom: -20px;
}
.form__login input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000;
}

.form__submit{
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    background-color: #b83f45;
    font-weight: bold;
    cursor: pointer;
}
.active{
    font-weight: bold;
    text-decoration: none;
    outline: none;
    border: none;
}
.log{
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.log:focus{
    box-shadow:none;
    outline: none;
}