.form {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin:auto;
    gap: 20px;
    max-width: 380px;
    background-color: #cd313992;
    padding: 1rem;
    border-radius: 5px;
}

.form__login .inputerror {
    border-color: #b83f45;
}

.form__login {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__loginError {
    position: absolute;
    color: #b83f45;
    bottom: -20px;
    text-align: center;
    width: 100%;
    font-size: .8rem;
    font-weight: bold;
}

.form__login input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000;
}
.form label {
    font-weight: bold;
}
    

.form__submit {
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    background-color: #000;
    font-weight: bold;
    cursor: pointer;
    color: #f3f3f3
}

.active {
    font-weight: bold;
    text-decoration: none;
    outline: none;
    border: none;
}

.log {
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.log:focus {
    box-shadow: none;
    outline: none;
}